aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.9.0
attrs==25.3.0
beautifulsoup4==4.13.4
build==1.2.2.post1
CacheControl==0.14.3
certifi==2025.7.9
cffi==1.17.1
charset-normalizer==3.4.2
cleo==2.1.0
click==8.2.1
crashtest==0.4.1
dataclasses-json==0.6.7
distlib==0.3.9
dulwich==0.22.8
fastapi==0.116.1
fastjsonschema==2.21.1
filelock==3.18.0
findpython==0.6.3
frozenlist==1.7.0
gitdb==4.0.12
GitPython==3.1.44
greenlet==3.2.3
gritql==0.2.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.1
idna==3.10
iniconfig==2.1.0
installer==0.7.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.2.1
jsonpatch==1.33
jsonpointer==3.0.0
keyring==25.6.0
langchain==0.3.26
# Editable install with no version control (langchain-backend==0.1.0)
-e /Users/zachkennedy/Dev/langchain-rag/langchain-backend
langchain-cli==0.0.36
langchain-community==0.3.27
langchain-core==0.3.68
langchain-tests==0.3.20
langchain-text-splitters==0.3.8
langserve==0.3.1
langsmith==0.4.5
markdown-it-py==3.0.0
marshmallow==3.26.1
mdurl==0.1.2
more-itertools==10.7.0
msgpack==1.1.1
multidict==6.6.3
mypy==1.16.1
mypy_extensions==1.1.0
numpy==2.3.1
orjson==3.10.18
packaging==24.2
pathspec==0.12.1
pbs-installer==2025.7.12
pkginfo==1.12.1.2
platformdirs==4.3.8
pluggy==1.6.0
poetry==2.1.3
poetry-core==2.1.3
propcache==0.3.2
py-cpuinfo==9.0.0
pycparser==2.22
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
Pygments==2.19.2
pyproject_hooks==1.2.0
pytest==7.4.4
pytest-asyncio==0.23.8
pytest-benchmark==5.0.1
pytest-codspeed==4.0.0
pytest-recording==0.13.4
pytest-socket==0.7.0
pytest-watcher==0.3.5
python-dotenv==1.1.1
PyYAML==6.0.2
RapidFuzz==3.13.0
requests==2.32.4
requests-toolbelt==1.0.0
rich==14.0.0
ruff==0.5.7
shellingham==1.5.4
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==2.0.41
sse-starlette==1.8.2
starlette==0.47.1
syrupy==4.9.1
tenacity==9.1.2
tomlkit==0.13.3
trove-classifiers==2025.5.9.12
typer==0.16.0
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.14.1
urllib3==2.5.0
uvicorn==0.35.0
vcrpy==7.0.0
virtualenv==20.31.2
watchdog==6.0.0
wrapt==1.17.2
xattr==1.1.4
yarl==1.20.1
zstandard==0.23.0
